* {
    box-sizing: border-box;
    font-family: Consolas, monaco, monospace;
}

.hidden {
    display: none !important;
}

#app-page {
    display: flex;
    flex-direction: column;

    height: 100vh;
    background-color: #eee;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 4rem;
    padding: 0 1rem;
}

.header-titular {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 1.5rem;
}

.header-badge {
    margin: 0 .5rem;
    padding: .25rem 1rem;
    font-size: .75rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: .25rem;
    background-color: #DDDDDD;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    border: 1px solid #e0e0e0;
}

.info-center {
    display: flex;
    flex: 1 1 auto;
    align-items: center;

    height: 100%;
}

.info-aligner {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}

.info-row {
    padding: .5rem;
}

.controls {
    display: flex;
    justify-content: center;

    font-size: .75rem;
    padding: 1rem 0;
}

.controls-button {
    margin: 0 .25rem;
    padding: .5rem 1rem;
    outline: 0;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .2);
    border: 1px solid #134697;
    border-radius: .25rem;
    transition: background-color .12s ease-in-out;
    cursor: pointer;
    color: #eee;
    background-color: #4376C7;
}

.controls-button:hover {
    background-color: #134697;
}

.controls-icon-button {
    margin: 0 .25rem;
    padding: .5rem 0;
    outline: 0;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .2);
    border: 1px solid #134697;
    border-radius: .25rem;
    transition: background-color .12s ease-in-out;
    cursor: pointer;
    color: #eee;
    background-color: #4376C7;
}

.controls-icon-button:disabled {
    color: #777;
    background-color: #ccc;
    border-color: #aaa;
    cursor: auto;
}

.controls-icon-button:not(:disabled):hover {
    background-color: #134697;
}

.controls-icon {
    display: block;
    width: 2rem;
    height: .75rem;
    transition: .12s all ease-in-out;
}

.controls-icon-button:disabled .controls-icon {
    filter: invert(100%);
}

.controls-icon[i-start] {
    background: url("./icons/start.svg") no-repeat center;
}

.controls-icon[i-step] {
    background: url("./icons/step.svg") no-repeat center;
}

.controls-icon[i-pause] {
    background: url("./icons/pause.svg") no-repeat center;
}
